<div id="footer" class="clearfix" style="padding-bottom: 1em">
    <div id="footer-wrapper">
        <div class="grid col-300 copyright">&copy; 2020 <a href="https://www.fluidsynth.org/" title="FluidSynth">FluidSynth</a></div>
        <div class="grid col-300 scroll-top"><a href="#scroll-top" title="scroll to top">&uarr;</a></div>
        <div class="grid col-300 fit powered"><a href="http://cyberchimps.com/responsive-theme/" title="Responsive Theme">Responsive Theme</a></div>
    </div>
</div>
