<div id="header">
    <div id="logo">
        <a href="/"><img src="{% link /assets/img/FluidSynthWebHeader.png %}" width="960" height="180" alt="FluidSynth"/></a>
    </div>
    <div class="main-nav">
        <span class="custom-mobile-menu-title" style="display: none">{{ page.title }}</span>
        <ul id="menu-main" class="menu">
            {% for item in site.main_navigation %}
            <li class="menu-item {% if item.href == page.url %}current-menu-item{% endif %}">
            <a href="{{ item.href }}">{{ item.title }}</a>
            {% if item.links %}
            <ul class="sub-menu">
                {% for link in item.links %}
                <li class="menu-item {% if item.href == page.url %}current-menu-item{% endif %}"><a href="{{ link.href }}">{{ link.title }}</a></li>
                {% endfor %}
            </ul>
            {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
