<div class="slideshow_container slideshow_container_slideshow-jquery-image-gallery-custom-styles_1" style=" " data-slideshow-id="12" data-style-name="slideshow-jquery-image-gallery-custom-styles_1" data-style-version="1381389350">
    <div class="slideshow_loading_icon"></div>
    <div class="slideshow_content" style="display: none;">
        {% for item in site.data.screenshots %}
        <div class="slideshow_view">
            <div class="slideshow_slide slideshow_slide_image">
                <img src="{{ "/assets/img/" | append: item.img | relative_url }}" alt="{{ item.title }}" />
                <div class="slideshow_description_box slideshow_transparent">
                    <div class="slideshow_title">{{ item.title }}</div>
                    <div class="slideshow_description">{{ item.description }}</div>
                </div>
            </div>
            <div style="clear: both;"></div>
        </div>
        {% endfor %}
    </div>
    <div class="slideshow_controlPanel slideshow_transparent" style="display: none;"><ul><li class="slideshow_togglePlay" data-play-text="Play" data-pause-text="Pause"></li></ul></div>
    <div class="slideshow_button slideshow_previous slideshow_transparent" role="button" data-previous-text="Previous" style="display: none;"></div>
    <div class="slideshow_button slideshow_next slideshow_transparent" role="button" data-next-text="Next" style="display: none;"></div>
    <div class="slideshow_pagination" style="display: none;" data-go-to-text="Go to slide"><div class="slideshow_pagination_center"></div></div>
</div>
